.container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    border: 1px solid gray;
    padding: 20px;
    margin: 0 auto;
}
.container .btn {
    flex: 1;
    width: 30%;
    border: 1px solid green;
    display: block;
    background-color: darkslateblue;
    color: white;
}